.auto-suggest {
    padding: 2px 10px 0 10px;
    font-size: 14px;
}

.auto-suggest::placeholder {
    color: '#aaa';
    opacity: .8;
}

.auto-suggest:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: '#aaa';
   opacity: .8;
}

.auto-suggest::-ms-input-placeholder { /* Microsoft Edge */
   color: '#aaa';
   opacity: .8;
}

.suggestion-wrapper {
    z-index: 1000;
    flex-direction: column;
    position: absolute;
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-radius: 0 0 5px 5px;
    background-color: white;
    text-transform: capitalize;
}

.suggestion-wrapper:hover{
    cursor: pointer;
}

.suggestion-content {
    padding: 10px;
}

.suggestion-content:hover {
    background-color: aliceblue;
}

.clear-suggestion-input {
    position: absolute;
    right: 1.4em;
    padding: 1.55em .4em;
    font-size: 12px;
    color: red;
}

.clear-suggestion-input:hover {
    cursor: pointer;
}